# Data Processing
pandas
numpy

# Visualization
matplotlib
seaborn
adjusttext

# AWS
boto3
pyathena

# ML
scikit-learn

# Scraper - FBref
undetected-chromedriver
lxml
html5lib

# Scraper - Understat
requests
beautifulsoup4

# Dashboard
streamlit>=1.32.0

# Scout Report PDF
reportlab